* {
  margin: 0;
  padding:0 ;
}

body  {
  background-color: :#f1f1f1;
}

/*estilos da tela de login*/
.container {
margin:0px;
background: #c9c0c8
}

.box-login{
position: relative;
text-align:center;
left:480px;
top:200px;
width:360px;
background-color:#fff;
border-style: solid;
box-shadow: 3px 2px 1px #9999999;
border-radius:10px;
}

/*Estilos do menu*/
.nav {
	margin: 0;
	padding:0 ;
	background-color: :#4a5718;
	float: left;
}

.nav li{
	/*list-style: nome;*/
	border-bottom: 1px solid #666;
	}

.nav li , .nav a {
	display: block;
	padding:8px;
	border-left : 4px solid #809786;
	}
