* {
  margin: 0;
  padding:0 ;
}

body  {
  background-color: #f1f1f1;
}

/*estilos da tela de login e tela de cadastro de usuarios*/
.container {
margin:0px;
background: #c9c0c8
}

.box-login , .box-cadastro , .box-consultar , .box-cadastro_clientes{
position: relative;
text-align:center;
left:480px;
top:200px;
width:360px;
background-color:#fff;
border-style: solid;
box-shadow: 3px 2px 1px #9999999;
border-radius:10px;
}
/*estilos da tela de cadastro de usuarios*/
.box-cadastro input {
margin:5px;	
}

/*Estilos do menu*/
.nav {
	margin:0px;
	padding:0 ;
	background-color: #fff;
	float: left;
}

.nav li{
	list-style: nome;
	border-bottom: 4px solid #201070;
	}

.nav li {
	display: block;
	padding:17px;
	border-left : 4px solid #174bbd;
	box-shadow: 2px 2px 5px #665b5e;
	}
.nav a {
	text-decoration: none;
	
	
	}
.nav li a: hover{
border-left: 9px solid #e3141f;
background-color:#f8f8f8;	
}
.nav li ul { 
display: none;
}
/*Estilos do cabecalho*/

.cabecalho{
position: relative;
text-align:center;	
margin:4px;
padding:4px;	
background-color:#fff;;	
	
	
} 
.cabecalho div{
font-size: 99px;	


}

.cabecalho h1{

border-width:5px;
border-style:solid;
border-color:;
width:;
height:;
font-size: 79px;
color:bleck; 	
font-family:italic;	
	
}

	
	